# 네이버 주가 데이터 실습

## Import data

In [1]:
import pandas as pd
naver = pd.read_csv('naver.csv', encoding='euc-kr')
naver

             날짜        종가     전일비        시가        고가        저가       거래량
0    2020.01.02  182500.0  4000.0  187500.0  188000.0  182000.0  300640.0
1    2020.01.03  181500.0  1000.0  185000.0  186000.0  180500.0  454492.0
2    2020.01.06  180500.0  1000.0  180000.0  182000.0  178000.0  287970.0
3    2020.01.07  187000.0  6500.0  182500.0  187000.0  181500.0  328624.0
4    2020.01.08  183000.0  4000.0  182000.0  183500.0  179000.0  820867.0
..          ...       ...     ...       ...       ...       ...       ...
240  2020.12.18  282500.0  2500.0  284000.0  285500.0  282000.0  487305.0
241  2020.12.21  284000.0  1500.0  284000.0  285500.0  280000.0  473545.0
242  2020.12.22  284000.0     0.0  285000.0  293500.0  284000.0  750095.0
243  2020.12.23  284000.0     0.0  288500.0  289000.0  283000.0  508019.0
244  2020.12.24  282000.0  2000.0  284500.0  284500.0  280000.0  452158.0

[245 rows x 7 columns]

## 실습 1: 평균 및 중앙값 구하기

In [2]:
from statistics import mean, median, mode
mean(naver['종가'])

245685.7142857143

In [3]:
median(naver['종가'])

270000.0

## 실습 2: 표준편차 및 변동 계수 구하기

In [4]:
from statistics import mean, stdev

In [5]:
stdev(naver['종가'])  #종가의 표준편차

55175.47640683596

In [6]:
(stdev(naver['종가'])/mean(naver['종가']))*100  #종가의 변동계수

22.457747112911484

### describe 함수 활용

In [7]:
naver.describe()

,종가,전일비,시가,고가,저가,거래량
count,245.000000,245.000000,245.000000,245.000000,245.000000,2.450000e+02
mean,245685.714286,4487.755102,245602.040816,249683.673469,241614.285714,8.611727e+05
std,55175.476407,3834.679580,55537.240090,55919.941848,54757.075297,3.920407e+05
min,143000.000000,0.000000,141500.000000,149500.000000,135000.000000,2.451070e+05
25%,186500.000000,2000.000000,185000.000000,188500.000000,183500.000000,5.634630e+05
50%,270000.000000,3500.000000,272000.000000,275000.000000,266000.000000,8.099390e+05
75%,292000.000000,6500.000000,292000.000000,296500.000000,286000.000000,1.039579e+06
max,339000.000000,20500.000000,337000.000000,347000.000000,336500.000000,3.114298e+06

## 실습 3: 시가와 종가의 공분산 및 상관계수

In [8]:
#시가, 종가의 공분산
naver.cov().iloc[[0,2],[0,2]]  #0번째, 2번째 행/열 인덱싱

              종가            시가
종가  3.044333e+09  3.049993e+09
시가  3.049993e+09  3.084385e+09

In [9]:
#시가와 종일가의 상관계수
x = naver['시가']
y = naver['종가']
x.corr(y)  # Pearson correlation

0.99533321058834