In [1]:
from statistics import mean
x = [1,2,3,4,5,6,7,8,9,10]
mean(x)

5.5

In [2]:
from statistics import median
x = [1,2,3,4,5,6,7,8,9,10]
median(x)

5.5

In [3]:
from statistics import mode 
y = [0,0,0,0,1,1]
mode(y)

0

In [3]:
from statistics import quantiles
x = [1,2,3,4,5,6,7,8,9,10]
quantiles(x, n=4, method='inclusive')

[3.25, 5.5, 7.75]

In [4]:
import numpy as np
x = np.array([1,2,3,4,5,6,7,8,9,10])
np.quantile(x, [0.25, 0.5, 0.75])

array([3.25, 5.5 , 7.75])

In [5]:
# five number summary
from statistics import quantiles
x = [1,2,3,4,5,6,7,8,9,10]
q = quantiles(x, n=4, method='inclusive')
min(x), q[0], q[1], q[2], max(x)

(1, 3.25, 5.5, 7.75, 10)

In [6]:
from statistics import quantiles
x = [1,2,3,4,5,6,7,8,9,10]
q = quantiles(x, method='inclusive')
q[2] - q[0]  #x의 IQR

4.5

In [7]:
x = [1,2,3,4,5,6,7,8,9,10]
max(x) - min(x)  #x의 range

9

In [8]:
from statistics import variance
x = [1,2,3,4,5,6,7,8,9,10]
variance(x)  #x의 분산

9.166666666666666

In [9]:
from statistics import stdev
x = [1,2,3,4,5,6,7,8,9,10]
stdev(x)  #x의 표준편차

3.0276503540974917

In [10]:
from statistics import mean, stdev
x = [1,2,3,4,5,6,7,8,9,10]
(stdev(x)/mean(x))*100  #x의 변동계수

55.04818825631803

In [11]:
import pandas as pd
iris = pd.read_csv('iris.csv', encoding='euc-kr')
iris.head(5)

   꽃받침길이  꽃받침너비  꽃잎길이  꽃잎너비      종류
0    5.1    3.5   1.4   0.2  setosa
1    4.9    3.0   1.4   0.2  setosa
2    4.7    3.2   1.3   0.2  setosa
3    4.6    3.1   1.5   0.2  setosa
4    5.0    3.6   1.4   0.2  setosa

In [12]:
#꽃받침길이와 꽃받침너비의 공분산
iris.cov().iloc[:2,:2]

          꽃받침길이     꽃받침너비
꽃받침길이  0.685694 -0.042434
꽃받침너비 -0.042434  0.189979

In [13]:
#꽃받침길이와 꽃받침너비의 상관계수
x = iris['꽃받침길이']
y = iris['꽃받침너비']
x.corr(y)  # Pearson correlation

-0.11756978413300208